.container {
  display: flex;
  min-height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0px !important;
}

#header {
  display: flex;
  justify-content: space-around;
}

.grey {
  color: gray;
}
